<main>
  <body>
    <button class="btn btn-danger" id="closeButton" (click)="onBack()">
      x
    </button>
    <h1>Add a Recipe!</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <input
        type="text"
        name="name"
        placeholder="Recipe name"
        formControlName="name"
      />
      <textarea
        name="directions"
        placeholder="Recipe Directions"
        formControlName="directions"
      ></textarea>

      <textarea
        name="directions"
        placeholder="Recipe ingredients"
        formControlName="ingredients"
      ></textarea>

      <input
        type="text"
        name="photo"
        placeholder="Recipe Photo (Optional)"
        formControlName="photo"
      />

      <button class="btn btn-outline-primary" [disabled]="!form.valid">
        SAVE
      </button>
    </form>
  </body>
</main>
